{%extends 'flatpages/default.html'%}

{% load custom_filters %}

{% block title %}
News_detail
{% endblock title %}

{% block content %}
<h1>{{ article.title | censor }}</h1>
<h3>{{ article.author }}</h3>
{% if article %}
        <table>
            <tr>
                <td>
                    Дата и время публикации
                </td>
                <td>
                    Описание
                </td>
            </tr>
            <tr>
                <td>
                    {{ article.datetime | date:'d-M-Y' }}
                    {{ article.datetime | time:'H:i' }}
                </td>
                <td>
                    {{ article.description | censor }}
                </td>
            </tr>
        </table>
        <a href="{% url 'update' article.id %}"><u> Редактировать </u></a>
        <a href="{% url 'delete' article.id %}"><u> Удалить </u></a>
    {% else %}
        <h2>На сайте нет новостей.</h2>
    {% endif %}
{% endblock content %}
